@using PersonnelManagmentSystemV1.ViewModels
@model JobOpeningViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Job Details</h2>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="btn">@Html.ActionLink("Apply", "Create", "Message", new { jobOpeningID = Model.ID }, new { })</div>
    <div class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div>
    <div class="btn">@Html.ActionLink("Back to List", "Index")</div>
</div>
@if (Model.AllowEdit)
{
    <div class="row">
        <hr />
        <h4>Applicants</h4>
        <div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Applicants)); orderByColumn('Email')">
            <table class="table">
                <tr>
                    <th ng-click="orderByColumn('Email')">E-mail address</th>
                    @*<th ng-click="orderByColumn('DepartmentName')">Department</th>*@
                    <th ng-click="orderByColumn('CVID')">CV</th>
                </tr>
                <tr ng-repeat="item in data| orderBy:columnName:reverse">
                    <td>
                        {{item.Email}}
                    </td>
                    @*<td>
                        {{item.DepartmentName}}
                    </td>*@
                    <td>
                        <div class="btn btn-default" ng-show="item.CVID>0"><a ng-href="../JobOpenings/DownloadCV?id={{item.CVID}}">Download CV</a></div>
                    </td>
                </tr>
            </table>
        </div>
      
    </div>
    <div class="row">
        <hr />
        <h4>Applications</h4>
        <div class="row" ng-controller="ListController" ng-init="onInitialise(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Messages)); orderByColumn('Email')">
            <table class="table">
                <tr>
                    <th ng-click="orderByColumn('SenderName')">From</th>
                    <th ng-click="orderByColumn('RecipientName')">To</th>
                    <th ng-click="orderByColumn('SendTime')">Time sent</th>
                    <th ng-click="orderByColumn('BodyContent')">Contents</th>
                </tr>
                <tr ng-repeat="item in data| orderBy:columnName:reverse">
                    <td>
                        {{item.SenderName}}
                    </td>
                    <td>
                        {{item.RecipientName}}
                    </td>
                    <td>
                        {{item.SendTime}}
                    </td>
                    <td>
                        {{item.BodyContent}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
}


