@using PersonnelManagmentSystemV1.ViewModels
@model JobOpeningViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Job Details</h2>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="btn">@Html.ActionLink("Apply", "Create", "Message", new { jobOpeningID = Model.ID }, new { })</div>
    <div class="btn">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</div>
    <div class="btn">@Html.ActionLink("Back to List", "Index")</div>
</div>
@if (Model.AllowEdit)
{
    <div class="row">
        <hr />
        <h4>Applicants</h4>
        <table class="table">
            <tr>
                <th>E-mail address</th>
                <th>Department</th>
                <th>CV</th>
            </tr>
            @foreach (ApplicantViewModel item in Model.Applicants)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.DepartmentName</td>
                    @if (item.CVID == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Download", "DownloadCV", new { id = item.CVID })</td>
                    }
                    
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <hr />
        <h4>Applications</h4>
        <table class="table">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Time sent</th>
                <th>Content</th>
            </tr>
            @foreach (MessageViewModel item in Model.Messages)
            {
                <tr>
                    <td>@item.SenderName</td>
                    <td>@item.RecipientName</td>
                    <td>@item.SendTime</td>
                    <td>@item.BodyContent</td>
                </tr>
            }
        </table>
    </div>
}


