@model IEnumerable<PersonnelManagmentSystemV1.ViewModels.InformationViewModel>
@if (ViewBag.Title == null || ViewBag.Title == "")
{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Boss"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadTime)
            </td>
            <td>
                @if (item.IsEditable)
                {
                    <div class="btn">@Html.ActionLink("Edit", "Edit", new { id = item.ID })</div>

                    <div class="btn">@Html.ActionLink("Details", "Details", new { id = item.ID })</div>
                    <div class="btn">@Html.ActionLink("Delete", "Delete", new { id = item.ID })</div>
                }
                else
                {
                    <div class="btn">@Html.ActionLink("Details", "Details", new { id = item.ID })</div>
                }
            </td>
        </tr>
    }

</table>
