@using PersonnelManagmentSystemV1.Models
@model IEnumerable<Message>

@{
    ViewBag.Title = "Messages";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobOpening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.UserName) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobOpening.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            <div class="btn">@Html.ActionLink("Details", "Details", new { id = item.ID })</div>
            <div class="btn">@Html.ActionLink("Reply", "Reply", new { Id = item.ID })</div>
            @if (User.IsInRole("Boss"))
            {
                <div class="btn">@Html.ActionLink("Delete", "Delete", new { id = item.ID })</div>
            }
        </td>
    </tr>
}

</table>
