@model PersonnelManagmentSystemV1.ViewModels.WorkerIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="margin-top: 2em;">
    <h1>Worker's Index</h1>

    <h2>@Html.ActionLink("View Files", "Index", "Files")</h2>
</div>

<div class="jumbotron">
    @if (Model.Events != null)
    {
        @*<h2>Upcoming Events</h2>*@
        @Html.Partial("../Calender/Events", Model.Events)
    }
    else
    {
        <h3>No events to display for department "<strong>@Model.DepartmentName</strong>"</h3>
    }
</div>
<hr />
<div class="jumbotron">
    @if (Model.Information != null)
    {   
        <h2>Important Information</h2>
        @Html.Partial("_WorkerIndexInformation", Model.Information)
    }
    else
    {
        <h3>No information to show for department "<strong>@Model.DepartmentName</strong>"</h3>
    }
</div>
<br />

