@using PersonnelManagmentSystemV1.Models;
@model IEnumerable<Information>
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="margin-top: 2em;">
    <h2>Personnel Management Systems AB.</h2>

    
</div>

@*<div class="col-md-12">
    <div class="col-md-4">@Html.Action("PublicNews", "Information")</div>
    <div class="col-md-4">@Html.Action("PublicNews", "Information")</div>
    <div class="col-md-4">@Html.Action("PublicNews", "Information")</div>
</div>*@

<div class="jumbotron" style="margin-top: 2em;">
    <div>@Html.Action("PublicNews", "Information")</div>
</div>
<div class="jumbotron" style="margin-top: 2em;">
    <div>@Html.Action("PublicNews", "Information")</div>
</div>
<div class="jumbotron" style="margin-top: 2em;">
    <div>@Html.Action("PublicNews", "Information")</div>
</div>