@model PersonnelManagmentSystemV1.Models.Department

@{
    ViewBag.Title = "DetailsDepartment";
}

<h2>DetailsDepartment</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manager.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
@if (Model.Employees != null && Model.Employees.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Employees.First().Email)
            </th>
        </tr>
        @foreach (var i in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => i.Email)
                </td>
            </tr>
        }
    </table>
}
else
{ 
    <p>No Employees to Display</p>
}
<p>
    @Html.ActionLink("Edit", "EditDepartment", new { id = Model.ID }) |
    @Html.ActionLink("Add Users To department", "DepartmentUserAdd", new { id = Model.ID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
